* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", monospace;
}

body {
  background-color: #0f0f0f;
  color: #0f0;
  font-size: 16px;
  margin: 1em;
  padding: 1em;
}

#content {
  border: 1px solid #0f0;
  padding: 20px;
  border-radius: 5px;
  background-color: #121212;
  min-width: 30rem; /* Adjusted from 20rem to 30rem for additional width */
  width: auto;
}

.loading {
  display: block;
  margin: 20px auto;
  filter: hue-rotate(90deg); /* Gives the loading icon a green tint */
}

a,
span {
  color: #3f3;
  text-decoration: none;
}

.message {
  color: #3f3;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #3f3;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}

a:hover,
a:focus {
  color: #9f9;
  text-decoration: underline;
}

button {
  background-color: #3f3;
  border: 1px solid #3f3;
  font-weight: 100;
  border-radius: 5px;
  color: #121212;
  cursor: pointer;
  display: block;
  font-size: 1em;
  margin: 20px auto;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}
